<%= form_for @match do |form| %>
  <% if @match.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@match.errors.count, 'error') %> prohibited this post from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :phase %>
    <%= form.collection_select :phase_id, @phases, :id, :name, :include_blank => true, :selected => @phase %>
  </div>

  <div class='field'>
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class='field'>
    <%= form.label :date %>
    <%= form.datetime_select 'datetime' %>

  <div class='field'>
    <%= form.label :home_team %>
    <%= collection_select :home_team, :id, @teams, :id, :name %>
  </div>

  <div class='field'>
    <%= form.label :away_team %>
    <%= collection_select :away_team, :id, @teams, :id, :name %>
  </div>

  <div class='form-actions'>
    <%= form.submit 'Save' %>
    <%= link_to 'Back', :back %>
  </div>
<% end %>