<%= form_for @match do |form| %>
  <% if @match.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@match.errors.count, 'error') %> prohibited this post from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>PS: Escolher apenas Phase ou Group, nunca os 2</p>

  <div class='field'>
    <%= form.label :group %>
    <%= form.collection_select :group_id, @groups, :id, :name, :include_blank => true, :selected => @match.group_id %>
  </div>

  <div class='field'>
    <%= form.label :phase %>
    <%= form.collection_select :phase_id, @phases, :id, :name, :include_blank => true, :selected => @match.phase_id %>
  </div>

  <div class='field'>
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class='field'>
    <%= form.label :date %>
    <%= form.datetime_select 'datetime' %>

  <%= form.fields_for :participations, @match.participations do |participation| %>
    <div class='field'>
      <%= participation.label :team %>
      <%= participation.collection_select :team_id, @teams, :id, :name %>
    </div>
  <% end %>

  <div class='form-actions'>
    <%= form.submit 'Save' %>
    <%= link_to 'Back', :back %>
  </div>
<% end %>
