<tr>
  <%= form_for @event, :url => match_events_path(@match, @event), :method => :post do |f| %>
    <td>
      <%#= f.label :minute %>
      <%= f.select :minute, options_for_select((0..90).map {|m| ["#{m}", m]}) %>
    </td>

    <td>
      <%#= f.label :event_type %>
      <%= f.collection_select :event_type_id, PlayFutsal::EventType.all, :id, :name %>
    </td>

    <td>
      <%#= f.label :athlete %>
      <%= f.collection_select :athlete_id, @match.athletes, :id, :name_with_team %>
    </td>

    <td>
      <%= f.submit 'Add', :class => 'btn btn-mini' %>
    </td>
  <% end if @event && @match %>
</tr>