<h3>Play by Play</h3>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Minute</th>
      <th>Event</th>
      <th>Player</th>
      <% if admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.minute %></td>
        <td><%= event.event_type.name %></td>
        <td><%= event.athlete.name_with_team %></td>
        <% if admin? %>
          <td><%= link_to '', match_event_path(@match, event), :method => :delete, :class => 'icon-remove' %></td>
        <% end %>
      </tr>
    <% end if @events %>

    <% if admin? %>
      <%= render 'new_event_form' %>
    <% end %>
  </tbody>
</table>