<h3>Play by Play</h3>

<table class="table">
  <thead>
    <tr>
      <th>Minute</th>
      <th>Event</th>
      <th>Player</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.minute %></td>
        <td><%= event.event_type.name %></td>
        <td><%= event.athlete.name_with_team %></td>
        <td><%= link_to 'Delete', match_event_path(@match, event), :method => :delete, :class => :btn %></td>
      </tr>
    <% end if @events %>

    
    <%= render 'new_event_form' %>
  </tbody>
</table>