<%# assumes `match` variable exists %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Date/Time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% matches.each do |match| %>
      <tr>
        <td><%= link_to match.desc, match_path(match) %></td>
        <td><%= link_to match.home_team.name, match.home_team %></td>
        <td>vs</td>
        <td><%= link_to match.away_team.name, match.away_team %></td>
        <td><%= match.datetime.to_formatted_s :short unless match.datetime.nil? %></td>
        <td><%= link_to 'Edit',   edit_match_path(match) %></td>
        <td><%= link_to 'Delete', match_path(match), :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>