<table class='table table-condensed table-hover'>
  <thead>
    <tr>
      <th></th>
      <th><div class="stat-col goal"></div></th>
      <th><div class="stat-col yellowcard"></div></th>
      <th><div class="stat-col redcard"></div></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th><%= team.name %></th>
      <td><%= participation.goals %></td>
      <td><%= participation.yellow_cards %></td>
      <td><%= participation.red_cards %></td>
    </tr>
  </tbody>
</table>


<table class='table table-condensed table-hover'>
  <thead>
    <tr>
      <th>Player</th>
      <th><div class="stat-col goal"></div></th>
      <th><div class="stat-col yellowcard"></div></th>
      <th><div class="stat-col redcard"></div></th>
    </tr>
  </thead>

  <tbody>
    <% athletes_stats.each do |stats| %>
      <tr>
        <td><%= link_to stats.athlete.name, athlete_path(stats.athlete) %></td>
        <% if stats %>
          <td class=""><%= show_athlete_stat stats, :goals %></td>
          <td><%= show_athlete_stat stats, :yellow_cards %></td>
          <td><%= show_athlete_stat stats, :red_cards %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>

</table>