<h3><%= team.name %></h3>
<table class='table table-condensed table-hover'>
  <thead>
    <tr>
      <th>Goals</th>
      <th>Yellow</th>
      <th>Red</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= participation.goals %></td>
      <td><%= participation.yellow_cards %></td>
      <td><%= participation.red_cards %></td>
    </tr>
  </tbody>
</table>


<table class='table table-condensed table-hover'>
  <thead>
    <tr>
      <th>Player</th>
      <th>Goals</th>
      <th>Yellow</th>
      <th>Red</th>
    </tr>
  </thead>

  <tbody>
    <% athletes_stats.each do |stats| %>
      <tr>
        <td><%= link_to stats.athlete.name, athlete_path(stats.athlete) %></td>
        <% if stats %>
          <td><%= show_athlete_stat stats, :goals %></td>
          <td><%= show_athlete_stat stats, :yellow_cards %></td>
          <td><%= show_athlete_stat stats, :red_cards %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>

</table>