<%= content_for :title do "Match - #{@match.desc}" end %>

<div class="hero-unit">
  <div class='item'>
      <h3>
        <%= link_to @match.home.team.name, team_path(@match.home.team) %>
        vs
        <%= link_to @match.away.team.name, team_path(@match.away.team) %>
      </h3>
  </div>

<% if admin? %>
  <% if not @match.started? %>
    <%= link_to 'Begin Game', begin_match_path(@match), :method => :put, :class => 'btn btn-success btn-mini' %>
  <% elsif not @match.finished? %>
    <%= link_to 'End Game', finish_match_path(@match), :method => :put, :class => 'btn btn-danger btn-mini pull-right' %>
  <% end %>
<% end %>

<% if @match.started? %>
  <%= render :partial => 'play_by_play' %>
<% end %>

  <% if admin? %>
    <%= link_to 'Edit',     edit_match_path(@match), :class => 'btn btn-mini' %>
    <%= link_to 'Delete',   match_path(@match), :method => :delete, :class => 'btn btn-mini' %>
  <% end %>
</div>

<%= render 'stats' %>
