<%= content_for :title do @match.desc end %>

<div class="hero-unit">
  <div class='item'>
      <h3>
        <%= link_to @match.home_team.name, team_path(@match.home_team) %>
        vs
        <%= link_to @match.away_team.name, team_path(@match.away_team) %>
      </h3>
  </div>


  <%= render :partial => 'play_by_play' %>


  <%= link_to 'Edit',     edit_match_path(@match), :class => :btn %>
  <%= link_to 'Delete',   match_path(@match), :method => :delete, :class => :btn %>
</div>


<%= render :partial => 'stats' %>
