<h2><%= @match.desc %></h2>

<div class='item'>
  Home Team:
  <% if @match.home_team %>
    <%= @match.home_team.name %>
  <% else %>
    Undefined
  <% end %>
</div>

<div class='item'>
  Away Team:
  <% if @match.away_team %>
    <%= @match.away_team.name %>
  <% else %>
    Undefined
  <% end %>
</div>

<div class='actions'>
  <%= link_to 'Edit',     edit_match_path(@match) %>
  <%= link_to 'Delete',   match_path(@match), :method => :delete %>
</div>