<%= content_for :title do "#{@match.to_s}" end %>

<div class="well">
  <div class='item'>
    <!-- <h3>
      <%= @match.to_s %>
    </h3> -->
    <h5>
      Home Team: 
      <%= link_to @match.home.team.name, team_path(@match.home.team) if @match.home.team %>
      <%= " (winner) " if @match.win == "H" %>
    </h5>
    <h5>
      Away Team: 
      <%= link_to @match.away.team.name, team_path(@match.away.team) if @match.away.team %>
      <%= " (winner) " if @match.win == "A" %>
    </h5>
  </div>

<br/>
<% if admin? %>
  <% if not @match.started? %>
    <%= link_to 'Begin Game', begin_match_path(@match), :method => :put, :class => 'btn btn-success btn-mini' %>
  <% elsif not @match.finished? %>
    <%= link_to 'End Game', finish_match_path(@match), :method => :put, :class => 'btn btn-danger btn-mini pull-right' %>
  <% end %>
<% end %>

<% if @match.started? %>
  <%= render :partial => 'play_by_play' %>
<% end %>

  <% if admin? %>
    <%= link_to 'Edit',     edit_match_path(@match), :class => 'btn btn-mini' %>
    <%= link_to 'Delete',   match_path(@match), :method => :delete, :class => 'btn btn-mini' %>
  <% end %>
</div>

<%= render 'stats', match: @match %>
