<!DOCTYPE html>
<html>
<head>
  <title>PlayFutsal</title>
  <%= stylesheet_link_tag    "play_futsal/application", :media => "all" %>
  <%= javascript_include_tag "play_futsal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="menu">
  <%= render 'layouts/play_futsal/nav' %>
</div>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
