<!DOCTYPE html>
<html>
<head>
  <title>PlayFutsal</title>
  <%= stylesheet_link_tag    "play_futsal/application", :media => "all" %>
  <%= javascript_include_tag "play_futsal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/play_futsal/nav' %>

<%= yield %>

</body>
</html>
