<%= form_for @team do |f| %>
  <% if @team.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@team.errors.count, 'error') %> prohibited this post from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <h2>Athlete List</h2>
  <%= render 'play_futsal/teams/athletes' %>

  <hr />

  <%= f.label :athletes %>
  <%= select_tag "athlete_ids[]", options_for_athletes(@team), {:multiple=>true, :size=>6} %>


  <%= f.submit 'Save', :class => 'btn' %>
  <%= link_to  'Back', :back, :class => 'btn' %>

<% end %>