%h1 New Team
= form_for @team, :url => url_for(:controller => :teams, :action => :create) do |f|
  - if @team.errors.any?
    #error_explanation 
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - @team.errors.full_messages.each do |msg|
          %li  
            = msg
  = f.label :name
  = f.text_field :name
  %br
  = f.label :federation 
  -#= f.collection_select :federation_id, @federations, :id, :name, {:include_blank => true, :selected => @team.federation_id}
  %br
  = f.submit "Submit"
  = link_to 'Cancel', teams_path