<% if admin? %>
  <%= link_to 'New Match for this group', new_group_match_path(group), :class => 'btn pull-right' %>
  <%= link_to 'Edit', edit_group_path(group), :class => 'btn pull-right' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th title="Position"></th>
      <th title="Team"></th>
      <th title="Matches Played">M</th>
      <th title="Wins">W</th>
      <th title="Draws">D</th>
      <th title="Losses">L</th>
      <th title="Goals Scored">GS</th>
      <th title="Goals Against">GA</th>
      <th title="Goal Difference">GD</th>
      <th title="Points">Pt</th>
    </tr>
  </thead>

  <tbody>
    <% group.teams.each do |team| %>
      <tr>
        <td><%= team.group_stat.position %></td>
        <td style="width:40%"><%= link_to team.name, team_path(team) %></td>
        <td><%= team.group_stat.matches_played %></td>
        <td><%= team.group_stat.wins %></td>
        <td><%= team.group_stat.draws %></td>
        <td><%= team.group_stat.losses %></td>
        <td><%= team.group_stat.goals_for %></td>
        <td><%= team.group_stat.goals_against %></td>
        <td><%= team.group_stat.goal_difference %></td>
        <td><b><%= team.group_stat.points %><b/></td>
      </tr>
    <% end %>
  </tbody>
</table>
