<%= content_for :title do @group.name end %>

<div class="hero-unit">
  <h3>Group Stats</h3>
  <%= render :partial => 'group', :locals => { :group => @group } %>

  <hr />
  <h3>Match List</h3>
  <%= render :partial => 'play_futsal/matches/table', :locals => { :matches => @group.matches } %>

  <% if admin? %>
    <div class='actions'>
      <%= link_to 'Edit', edit_group_path(@group), :class => :btn %>
      <%= link_to 'Delete', group_path(@group), :method => :delete, :class => :btn %>
    </div>
  <% end %>
</div>