<%= form_for @athlete do |form| %>
  <% if @athlete.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@athlete.errors.count, 'error') %> prohibited this post from being saved:</h2>

      <ul>
      <% @athlete.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :name %>
    <%= form.collection_select :user_id, PlayAuth::User.find([@athlete.user_id]), :id, :name, :selected => @athlete.user %>
  </div>

  <div class='field'>
    <%= form.label :team %>
    <%= form.collection_select :team_id, PlayFutsal::Team.all, :id, :name, :selected => @athlete.team %>
  </div>

  <div class='field'>
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class='form-actions'>
    <%= form.submit 'Save' %>
    <%= link_to  'Back', :back %>
  </div>

<% end %>