<table id="athletes" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Team</th>
      <th><div class="goal"></div></th>
      <th><div class="yellowcard"></div></th>
      <th><div class="redcard"></div></th>
      <% if admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>

    <% athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.id %></td>
        <td><%= link_to athlete.name, athlete_path(athlete) %></td>
        <td><%= link_to athlete.team.name, team_path(athlete.team) if athlete.team %></td>
        <td><%= athlete.goals %></td>
        <td><%= athlete.yellow_cards %></td>
        <td><%= athlete.red_cards %></td>
        <% if admin? %>
          <td><%= link_to 'Edit', edit_athlete_path(athlete) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>