<%= content_for :title do 'Athletes' end %>

<div class="hero-unit">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @athletes.each do |athlete| %>
        <td><%= athlete.id %></td>
        <td><%= link_to athlete.name, athlete_path(athlete) %></td>
        <td><%= link_to 'Edit', edit_athlete_path(athlete) %></td>
      <% end %>
    </tbody>
  </table>

<%= link_to 'New Athlete', new_athlete_path, :class => :btn %>
</div>