<%= content_for :title do @athlete.name end %>

<div class="hero-unit">
<%= link_to  'User Profile', play_auth.user_path(@athlete.user) %>
<br />
Team: <%= link_to @athlete.team.name, @athlete.team %>
<br />
Number: <%= @athlete.number %>
<br />

<div class='actions'>
  <%= link_to 'Edit',     edit_athlete_path(@athlete) %>
 <!--  <%= link_to 'Delete',   athlete_path(@athlete), :method => :delete %> -->
</div>

<%= render :partial => 'stats' %>
</div>